body{
    margin: 0;
    padding: 0;
    font-family: verdana;
    background-image:  linear-gradient()
}

.grid-1{
    display: flex;
}

header {
    background-color: #F0F0F0;
    border-width: thin;
    border-bottom: solid black;
}

header ul{
    margin: 0;
    display: inline;
}

header li
{
    margin:0;
    list-style-type: none;
}

header li:hover{
    text-decoration: underline;
    background-color: cornflowerblue;
}

.reddit-pic{
    height: 75px;
}

.grid-3{
    display:flex;
    background-color: #CEE3F8;
}

nav{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    border-bottom: solid #5F99CF;
    border-width: thick;
    position: relative;
}


nav ul{
    margin:0;
    list-style-type: none;
}

nav > div > ul > li{
    justify-content: flex-start; 
    display: inline;
    font-weight: bold;
    font-size: 22px;
    font-family: verdana;
    background-color: #fbfbfb;
    margin-left: .1em;
    margin-right: .1em;
    padding-left: .3em;
    padding-right: .3em;

}

.user-profile{
    background-color: #fbfbfb;
    color: #5F99CF;
    border-top-left-radius: 5px;
    float:right;
    text-align:right;
    padding-right: .3em;
    margin-top: 30px;
}

.user-profile ul{
    display: flex;
    justify-content: flex-end;
}

.user-profile li{
    display: inline;
    list-style-type:none;
    font-size: 20 px;
    margin-left: .1em;
    margin-right: .1em;
    padding-left: .3em;
    padding-right: .3em;
}


/* Arrow */

.post{
display: flex;
justify-content: flex-start;
}

.post-upvotes{
    text-align: center;
    font-size: 20px;
    color:dodgerblue;
}

.arrow-up{
    margin-top: 20px;
    transform: rotate(-90deg);
}


.arrow-down{
    transform: rotate(90deg);
}



/* POSTS */

.post-body{
    margin-left: 1em;
    margin-top: 50px;
}

.submit-link{
    text-decoration: none;
}

.post-options{
    color: dodgerblue;
    background-color: aquamarine;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 2em;
}


.reddit-gold{
    margin-top: 2.5em;
    text-align: center;
    border: solid rgb(219,209,181);
}

.reddit-gold div{
font-weight: 0;
font-size: 20px;
padding-top: 1em;
color: rgb(100,100,80);
}

.bar-container{
margin-right: 40px;
margin-bottom: 1em;
}


.bar{
border-radius: 10px;
background-color: #F3E287;
width: 100%;
margin-left: 1em;
margin-right: 1em;
}

.gold-percent{
font-weight: bold;
}

.reddit-gold-support{
    background-color: white;
    margin-top: 1em;
    margin-bottom: 1em;
    color: rgb(100,100,80);
    box-shadow: 5px 5px 5px 5px #888888;
}

.user-action-button{
    background-color: #DEF2FF;
    height: 3em;
    margin-top: .25em;
    font-size: 20px;
    border: solid blue;
    color: #4682b4;
    border-radius: 5px;
    width: 100;
}

.user-action-button:hover{
    background-color: #3A5ECA;
    color: white;
}
.main-class{
    margin-left: 500px;

}
.reddit-gold{
    width: 350px;
}